{% load static %}
<header x-data="{ navbarOpen: false }" style="background-color: rgb(8 3 33);">
  <nav class="shadow-lg" style="background-color: rgb(8 3 33);">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between items-center py-3">
        <!-- Website Logo -->
        <a href="{% url 'home' %}" class="shrink-0">
          <img src="{% static 'svgs/lebergercapital_h_logo.svg' %}" alt="Logo" style="height: 7rem; width: 7rem;" class="mr-2 bg-white"/>
        </a>

        <!-- Links for authenticated users, visible on mobile -->
        {% if request.user.is_authenticated %}
          <div class="flex items-center space-x-3 md:hidden">
            <a href="{% url 'account' %}" class="text-sm text-white px-3 py-2 rounded hover:bg-purple-700 transition duration-300">Account</a>
            <a href="{% url 'dashboard' %}" class="text-sm text-white px-3 py-2 rounded hover:bg-purple-700 transition duration-300">Dashboard</a>
            <a href="{% url 'logout' %}" class="text-sm text-white px-3 py-2 bg-blue-600 rounded hover:bg-purple-700 transition duration-300">Log Out</a>
          </div>
        {% endif %}

        <!-- Secondary Navbar items for desktop -->
        <div class="hidden md:flex items-center space-x-3">
          {% if request.user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="py-3 px-3 font-medium text-white rounded hover:bg-purple-700 transition duration-300">Dashboard</a>
            <a href="{% url 'account' %}" class="py-3 px-3 font-medium text-white rounded hover:bg-purple-700 transition duration-300">Account</a>
            <a href="{% url 'logout' %}" class="py-3 px-3 font-medium text-white bg-blue-600 rounded hover:bg-purple-700 transition duration-300">Log Out</a>
          {% else %}
            <a href="{% url 'signin' %}" class="py-3 px-3 font-medium text-white rounded hover:bg-purple-700 transition duration-300">Log In</a>
            <a href="{% url 'signup' %}" class="py-3 px-3 font-medium text-white bg-blue-600 rounded hover:bg-purple-700 transition duration-300">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
